<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Health Planet</title>
    <style>
    	.title {
    		font-size: 300%;
    	}
    	.subTitle { color: lightgray; }
    </style>
    <link rel="stylesheet" th:href="@{/css/cards.css}"/>
    <script type="text/javascript" th:src="@{/js/cards.js}"></script>
</head>
<body>

	<h2>Welcome, <span th:text="${session.username}"></span>!</h2>
    
    <div class="button-container" align="center">
        <a href="/login" class="button">로그인</a>
        <a href="/signup" class="button">회원가입</a>
        <a href="/logout" class="button">로그아웃</a>
    </div>
    
	<!-- nav html 생성 및 삽입 필요 -->

    <div align="center" style="line-height:50%; margin: 10%;">
        <h1 class="title">Health Planet</h1>
        <p class="subTitle">당신의 운동 모임 서비스</p>
    </div>

   	<a href="/popular/list">실시간 인기 모임</a>
    <div th:replace="~{popularTemplete :: flipCards}">모임이 없습니다.</div>
	
	<p>전체 글 view(안만든 것 같음)</p>

</body>
</html>