<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript" src="js/popularList.js"></script>
<link type="text/css" rel="stylesheet" href="css/popularList.css" />

</head>

<body>
    <div class="FlipCardcontainer">
        <div class="slider-container">
            <span class="slider-leftBtn sliderBtn"></span>  
            <div class="card-container" id="slider">
				<div th:each="post: ${popularPreviewList}" 
						class="card" style="cursor:pointer;"
						onClick="location.href='@{/post/view}';">
					<h5 th:text="${post.title}">제목</h5>
					<p th:text="${post.custid}">작성자</p>
					<p th:text="${post.schedule}">일자</p>
				</div>
            </div>
            <span class="slider-rightBtn sliderBtn"></span>
        </div>
    </div>
</body>
</html>