<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 이후 스타일시트로 분리 필요 -->
<style type="text/css">
    .card {
        display: inline-block;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        box-shadow: 2px 2px 10px 3px;
    }
</style>


</head>
<body>
	<div th:fragment="cards"
			th:each="post:${popularList}" 
			class="card" style="cursor:pointer"
			onClick="location.href='@{/post/view/{post.postid}}';">
		<h5 th:text="${post.title}">제목</h5>
		<p th:text="${post.custid}">작성자</p>
		<p th:text="${post.schedule}">일자</p>
	</div>
</body>
</html>