<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Meeting Registration Success</title>
  <link rel="stylesheet" href="/styles/meetingConfirm.css">
</head>
<body>
	<h2>확인</h2>
	<p th:text="'모임 이름: ' + ${meeting.name}"></p>
	<p th:text="'모임 날짜: ' + ${meeting.meetingDate}"></p>
	<p th:text="'시간대' + ${meeting.meetingTime}"></p>
	<p th:text="'종목' + ${meeting.meetingEvent}"></p>
	<p th:text="'장소' + ${meeting.meetingCity}+ ${meeting.meetingCounty}"></p>
	<p th:text="'인원수' + ${meeting.headCount}"></p>
	<p th:text="'비용' + ${meeting.price}"></p>
	<p th:text="'모임 설명: ' + ${meeting.description}"></p>
	<p>
		<a href="/meetings/register">모임 등록 페이지로 돌아가기</a>
	</p>
	<p>
		<a href="/meetings/register-finish">등록하기</a>
	</p>
</body>
</html>
