.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: #ffffff;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.copy {
  padding: 0px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1200px;
  position: absolute;
  left: calc(50% - 600px);
  top: calc(50% - 305px);
}
.product-name {
  font-size: 40px;
  line-height: 110%;
  font-weight: 600;
}
.subheading {
  color: #828282;
  font-size: 24px;
  line-height: 150%;
}
.description {
  color: #828282;
  font-size: 20px;
  line-height: 150%;
}
.a { 
  color: #ffffff;
  font-family: "Inter-Medium", sans-serif;
  font-size: 20px;
  line-height: 150%;
}
#btn {
  background: #000000;
  border-radius: 8px;
  padding: 14px 24px;
  display: flex;
  justify-content: center;
  width: 350px;
  position: absolute;
  left: calc(50% - 475px);
  top: calc(50% - -269px);
}
#btn2 {
  background: #000000;
  border-radius: 8px;
  padding: 14px 24px;
  display: flex;
  justify-content: center;
  width: 350px;
  position: absolute;
  left: calc(50% - -125px);
  top: calc(50% - -269px);
}
.field {
  background: #000000;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
  position: absolute;
  left: calc(50% + 300px);
  top: calc(50% - 269px);
}
.label {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
  white-space: nowrap;
}

