/* meetingConfirm.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto; /* 화면 중앙 정렬 */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

.user-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 8px 5px;
}




.btn {
    text-align: center;
    margin-top: 20px;
}

.btn a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn a:hover {
    background-color: #333;
}
