.div,
.div * {
  box-sizing: border-box;
}
.div {
  height: 1080px;
  position: relative;
}
.line-1 {
  border-style: solid;
  border-color: #747474;
  border-width: 2px 0 0 0;
  width: 351.01px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - -400px);
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.line-2 {
  border-style: solid;
  border-color: #747474;
  border-width: 2px 0 0 0;
  width: 351.01px;
  position: absolute;
  left: calc(50% + 300px);
  top: calc(50% - -400px);
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.copy {
  width: 458px;
  position: absolute;
  left: calc(50% - 829px);
  top: calc(50% - -160px);
}
.div2 {
  text-align: center;
  font-size: 40px;
  line-height: 110%;
  font-weight: 600;
  align-self: stretch;
}
button {
  background: #000000;
  border-radius: 8px;
  padding: 14px 30px;
  position: absolute;
  left: calc(50% - 47px);
  top: 80px;
}
.div3 {
  color: #ffffff;
  font-size: 15px;
}

.copy2 {
  width: 458px;
  position: absolute;
  left: calc(50% - 229px);
  top: calc(50% - -160px);
}

.copy3 {
  width: 458px;
  position: absolute;
  left: calc(50% - -371px);
  top: calc(50% - -160px);
}
