<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/navigation.css}">
<title>Health Planet</title>
<style>
.title {
    font-size: 300%;
}

.subTitle {
    color: lightgray;
}
</style>
<link rel="stylesheet" th:href="@{/css/cards.css}" />
<script type="text/javascript" th:src="@{/js/cards.js}"></script>
</head>
<body>

    <div th:insert="~{/navigation :: nav}"></div>

    <div align="center" style="margin: 5%;">
        <h1 class="title">Health Planet</h1>
        <p class="subTitle">당신의 운동 모임 서비스</p>
    </div>

    <div align="center" style="margin: 5%;">
        <a href="/popular/list">실시간 인기 모임</a>
        <div th:replace="~{postTemplete :: flipCards}"></div>

        <p>전체 글 view(css 개선 필요)</p>
        <div th:replace="~{postTemplete :: posts}"></div>
    </div>
</body>
</html>
