<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Templete</title>
</head>
<body>

    <div th:fragment="cards">
        <!-- 리스트가 없는 경우 -->
        <span th:if="${message}" th:text="${message}">Message</span>
        
        <!-- 리스트가 있는 경우 -->
        <div th:if="${popularList}">
            <div th:each="post : ${popularList}" style="cursor:pointer;"  
            	th:onclick="'location.href=\'/post/view/' + ${post.postid} + '\''"
            	class="card">
                <h5 th:text="${post.title}">제목</h5>
                <p th:text="${post.custid}">작성자</p>
                <p th:text="${post.schedule}">일자</p>
            </div>
        </div>
    </div>
    
    <div th:fragment="posts">
        <!-- 리스트가 없는 경우 -->
        <span th:if="${message}" th:text="${message}">Message</span>
        
        <!-- 리스트가 있는 경우 -->
        <div th:if="${postList}">
            <div th:each="post : ${postList}" style="cursor:pointer;"  
            	th:onclick="'location.href=\'/post/view/' + ${post.postid} + '\''"
            	class="card">
                <h5 th:text="${post.title}">제목</h5>
                <p th:text="${post.custid}">작성자</p>
                <p th:text="${post.schedule}">일자</p>
            </div>
        </div>
    </div>
    
    <div th:fragment="flipCards"
    		class="FlipCardcontainer">
        <div class="slider-container">
            <span class="slider-leftBtn sliderBtn"></span>  
            <div class="card-container" id="slider">
				<div th:each="post: ${popularList}" 
						class="card" style="cursor:pointer;"
						th:onclick="'location.href=\'/post/view/' + ${post.postid} + '\''">
					<h5 th:text="${post.title}">제목</h5>
					<p th:text="${post.custid}">작성자</p>
					<p th:text="${post.schedule}">일자</p>
				</div>
            </div>
            <span class="slider-rightBtn sliderBtn"></span>
        </div>
    </div>

</body>
</html>
