<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모임 등록 완료</title>
    <link rel="stylesheet" href="/css/meetingConfirm.css">
</head>
<body>
<div class="container">
    <h2>모임 등록 확인</h2>
    <div>
        <p>
            <span class="label">모임 이름</span>
            <div class="user-input">
                <span th:text="${meeting.title}"></span>
            </div>
        </p>
        <p>
            <span class="label">모임 날짜</span>
            <div class="user-input">
                <span th:text="${meeting.schedule}"></span>
            </div>
        </p>
        <p>
            <span class="label">시간대</span>
            <div class="user-input">
                <span th:text="${meeting.time}"></span>
            </div>
        </p>
        <p>
            <span class="label">종목</span>
            <div class="user-input">
                <span th:text="${meeting.event}"></span>
            </div>
        </p>
        <p>
            <span class="label">장소</span>
            <div class="user-input">
                <span th:text="${meeting.city} + ' ' + ${meeting.region}"></span>
            </div>
        </p>
        <p>
            <span class="label">인원수</span>
            <div class="user-input">
                <span th:text="${meeting.headCount}"></span>
            </div>
        </p>
        <p>
            <span class="label">비용</span>
            <div class="user-input">
                <span th:text="${meeting.cost}"></span>
            </div>
        </p>
        <p>
            <span class="label">모임 설명</span>
            <div class="user-input">
                <span th:text="${meeting.body}"></span>
            </div>
        </p>
    </div>
    <div class="btn">
        <a href="javascript:history.back();">수정하기</a>
        <a href="/meetings/register-finish">등록 완료</a>
    </div>
</div>
</body>
</html>
